<style>
  input[type="file"] {
      display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
}
</style>
<div class="container">
  <br/><br/>
  <%= form_for :report, url: customer_report_create_path do |f| %>
    <div class="row">
        <%= f.hidden_field :customer_id, value: params[:customer_id] %>
        <%= f.hidden_field :tasker_id, value: params[:tasker_id] %>
        <div class="col col-md-12 col-sm-12 col-xs-12">
          <center>
            <h1>please upload screenshot of your conversation and tell us your concern</h1>
    
            <%= image_tag 'camera-vector-icon', class: 'img-fluid', id: 'image', width:'100%' %>
          </center>
        </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        <h1>Reason:</h1>
        <br/>
        <%= f.text_area :reason, id: 'reason', class: 'form-control', rows: 5, id: 'reason', style: 'font-size: 40px' %>
      </div>
      <div class="col col-md-12">
        <br/>
        <label class="custom-file-upload btn btn-block" style="font-size:50px">
          Select Photo
          <%= f.file_field :image, id: 'imgInp' %>
        <label>
      </div>
    </div>  
    <div class="row">
      <div class="col col-md-12"> 
        <br/>
        <button type="submit" class="btn btn-block" style="background-color:#009C3C;color:white;font-size:50px" id="btn_update">Report Tasker</button>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(function(){
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
          $('#image').attr('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]); // convert to base64 string
      }
    }

    $("#btn_update").click(function(e){
      if($("#reason").val() === "") {
        alert("All fields are required");
        e.preventDefault();
      }
    });

    $("#imgInp").change(function() {
      readURL(this);
    });
  });
</script>